<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean class="com.springcore.Student" name="std1">
		<property name="studentId" value="1"/>
		<property name="studentName" value="Alpha"/>
		<property name="studentAddress" value="Berlin"/>
		<property name="studentPhones">
			<list>
				<value>9770677667</value>
				<value>8778877887</value>
			</list>
		</property>
	</bean> 
	
	<bean class="com.springcore.Student" name="std2" p:studentId="2" p:studentName="Beta" p:studentAddress="Tokyo"/>
</beans>